In [48]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\abhishek thakur\anaconda3\lib\site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

**The MySQL Connector is an Python library provided by MySQL to connect and interact with a MySQL database. 
It allows you to execute SQL queries, fetch results, and manage database transactions programmatically.**

In [49]:
import mysql.connector

In [50]:
import pandas as pd

**Connecting to MySQL**

In [51]:
host = 'localhost'
user = 'root'
password = "-------" - use your password here
database1 = 'college'
database2 = 'painting'

In [52]:
connection = mysql.connector.connect(user = user, host = host, password = password, database = database1)

#### CREATE A CURSOR
- A cursor is an object used to interact with the database. 
- It serves as an intermediary between your Python program and the database, enabling you to execute SQL queries and retrieve results.

In [53]:
cursor = connection.cursor()

In [54]:
query = "select * from student"   # creatting a query

In [55]:
cursor.execute(query)           # executing it

In [56]:
cursor.column_names      #checking coulumns name

('ROLLNO', 'FULL_NAME', 'MARKS', 'CITY', 'AGE')

In [57]:
data = cursor.fetchall()   # fetching all details

## Putting all data in a DataFrame (allowing easy data manipulation and analysis)

- A DataFrame is a table-like data structure that organizes data into rows and columns.

In [58]:
pd.DataFrame(data, columns = cursor.column_names)

   ROLLNO FULL_NAME  MARKS    CITY  AGE
0     102   Bhumika     93  Mumbai   19
1     103    Chetan     85  Mumbai   19
2     104     Dhruv     96   Delhi   19
3     106     Farah     82   Delhi   19

In [59]:
df = pd.DataFrame(data, columns = cursor.column_names)

In [60]:
cursor.close()

True

## Loading multiple CSV files into a MySQL database using SQLAlchemy

In [61]:
from sqlalchemy import create_engine

Step1: Importing **create_engine**  to establish a connection to the MySQL database

In [62]:
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{database2}")

Step2: Building Database Connection

In [63]:
files = ['artist', 'canvas_size', 'image_link', 'museum_hours', 'museum', 'product_size', 'subject','work']

Step3: Listing files name to be loaded

### Iterating Through Files - Last Step

In [64]:
for file in files:
    dataframe = pd.read_csv(rf"C:\Users\Abhishek Thakur\Downloads\{file}.csv")
    dataframe.to_sql(file, con = engine, if_exists='replace', index=False)

- **Reading CSV**: Each file from the specified folder is read into a DataFrame.
- **Writing to SQL**: The to_sql method is used to write the DataFrame into the MySQL database:
- **file**: The table name in the database (same as the file name).
- **con=engine**: Specifies the database connection.
- **if_exists** ='replace': Replaces the table if it already exists.
- **index=False**: Prevents the DataFrame index from being written as a column in the table.

In [65]:
a = input("Type THANK YOU")
b = "THANK YOU"
if a == b:
    print("Most Welcome")
else:
    print("See you later")

Type THANK YOU THANK YOU

Most Welcome